<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link rel="stylesheet" href="/css/errorsty.css">
</head>
<body>
    <div class="container">
        <h1>404 Error</h1>
        <p>Oops! The page you requested could not be found.</p>
        <p>It seems the API is broken or the city name you entered is invalid.</p>
        <a href="/" class="button">Go Home</a>
        <p class="contact">Please contact the developer if you encounter this issue.</p>
      </div>
</body>
</html>