<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="/css/sty.css">
</head>

<body>
    <div class="con">
        <h1>Weather App</h1>
        <form class="search-form" action="/weather" method="post">
            <label for="search">Search for stuff</label>
            <input id="search" name="city" type="search" placeholder="Enter city..." autofocus required />
            <button type="submit">Go</button>  
        </form>

    </div>
    
</body>
</html>